
# DB connection
System.put_env("DB_USERNAME", "postgres")
System.put_env("DB_PASSWORD", "postgres")
System.put_env("DB_HOSTNAME", "localhost")
System.put_env("DB_DATABASE_DEV", "argument_dev")
System.put_env("DB_DATABASE_TEST", "argument_test")

# Secret Key Base
System.put_env("SECRET_KEY_BASE", "<phx.gen.secret this>")

# Phoenix Settings
#System.put_env("PHX_HOST", "hexcells.com")
#System.put_env("PORT", "4000")